/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

#main {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding:  24px 0px;
}

.btn {
    padding: 16px 48px;
    min-width: 140px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border-radius: 40px;
    transition: opacity .2s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--warn {
    background-color: rgb(241, 196, 15);
}

.btn--success {
    background-color: rgb(47, 204, 113);
}

.btn--error {
    background-color: red;
}

/* Toast */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99999;
}

.toast--success {
    border-left: 3px solid rgb(47, 204, 113);
}

.toast--infor {
    border-left: 3px solid rgb(26, 108, 216);
}

.toast--error {
    border-left: 3px solid rgb(209, 39, 26);
}

.toast--warning {
    border-left: 3px solid rgb(241, 196, 15);
}


.toast {
    padding: 18px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    min-width: 400px;
    max-width: 450px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success .toast__icon{
    color: rgb(47, 204, 113);
}

.toast--infor .toast__icon{
    color: rgb(26, 108, 216);
}

.toast--error .toast__icon{
    color:  rgb(209, 39, 26);
}

.toast--warning .toast__icon{
    color: rgb(241, 196, 15);
}

.toast .toast__close,
.toast .toast__icon {
    padding : 0 16px;
}

.toast .toast__body {
    flex: 2;
}

.toast__body .toast__title {
    font-size: 18px;
    font-weight: 600;
}

.toast__body .toast__message {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    line-height: 1.5;
}

